---
# Tasks for the harvester_launcher
   
 # - name: Fiddle with NGINX
   # apt: 
      # name: "{{ item }}"
      # state: latest
      # update_cache: yes
   # loop:
    # - nginx
    # - nginx-common
    # - nginx-core

 - name: Copy the scripts
   copy:
     src: hellobobby.py
     dest: /etc/hellobobby.py
    

 - name: Say Hello
   shell: "python /etc/hellobobby.py"
 
